#!/usr/bin/make -f
#
# Copyright 2021, 2023 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

%:
	dh $@

override_dh_install:
	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_x64_linux_hotspot_8u362b09.tar.gz" \
		"ca015d5795c52ad8263b3917c93c21c305c01b3490227181b4e03f8f113286fb" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_x64_linux_hotspot_8u362b09-manifest" \
		"793dadbd5d510592aaddcadc2d3d9f47d80839937b7b21abf7cc11fbe58f5417" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8_x64_Linux_jdk8u172-b11.tar.gz" \
		"c8544a44c946aa971450e18bfa02a0741a986afd3d30c70ded2ea86c9743dac0" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8_172/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8_x64_Linux_jdk8u172-b11-manifest" \
		"a407c87a92df5e95901f23ddaffc2a0fb0e09e81835d1be98e0290d50b0b13c9" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8_172/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_ppc64le_linux_hotspot_8u362b09.tar.gz" \
		"5b2dcd36194969c01354f8502487a8c2ff14b0dcb915387d07c2c1dfca4d574d" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_ppc64le_linux_hotspot_8u362b09-manifest" \
		"90b62c943ed85275a7d95c79e48cc32f23af7858fc432d3a03eea8d4efb03dab" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk1.8/jdk-8.0.0.720-aix-powerpc64.tar.gz" \
		"bf61ffd9d3d5bc11e9c5ba221ea1f2edf61368d062829d1453f7ac7ccd2393d5" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk1.8/jdk-8.0.0.720-aix-powerpc64-manifest" \
		"00bdbd18b694aaf470af4bedde7305c1d6063402e3f3ce9c3ad58d703395d0c4" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"hpux/jdk1.8/jdk-8.0.25-hpux-ia64.tar.gz" \
		"2efaeb487318f8454d0f7af8b5139de651e780f655716f96251db04a17f68607" \
		"debian/tmp/usr/share/host-jdks/jdk/hpux_ia64/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"hpux/jdk1.8/jdk-8.0.25-hpux-ia64-manifest" \
		"becb58346a6a22957f4e90a1140aa044a96dd39a8efd9057141aa2faffa7b711" \
		"debian/tmp/usr/share/host-jdks/jdk/hpux_ia64/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_x64_solaris_hotspot_8u362b09.tar.gz" \
		"bc67f738e8b11b6a9b2a360a405231add2b208c04872fcfe55baa257f0db7158" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_x86/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_x64_solaris_hotspot_8u362b09-manifest" \
		"db85619de38d370572d2cb11577c87f68a1a8360b33bfc3fadd6858e8f7d57e4" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_x86/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_sparcv9_solaris_hotspot_8u362b09.tar.gz" \
		"f61506c9e08d4d4500a4502b43e7757d760ccbb879d59e835c9866048a17389f" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_sparc/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_sparcv9_solaris_hotspot_8u362b09-manifest" \
		"7abc56078241ba7ed896cfcfb5b3d0a9cb2989e62139143e8f9feeba096a5465" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_sparc/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk1.8/OpenJDK8U-jdk_x64_windows_hotspot_8u362b09.zip" \
		"0a9087b33465156e03190115cffd7d52484c025f44ef07bd523b135b01810d15" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk1.8/jdk.zip"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk1.8/OpenJDK8U-jdk_x64_windows_hotspot_8u362b09-manifest" \
		"fd31721046146ae4cfa811b66907670eadc89778229eed6d6fc5fac35f566d18" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk1.8/manifest"

	dh_install --autodest "debian/tmp/*"
