#!/usr/bin/make -f
#
# Copyright 2021, 2025 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

%:
	dh $@

override_dh_install:
	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_x64_linux_hotspot_8u472b08.tar.gz" \
		"945a126be73d9c43d44ddcedf9f5554bdfbd835676766a1243f42c9a07ca0613" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_x64_linux_hotspot_8u472b08-manifest" \
		"b9aa68c18f8d363fb6e78d99719c1232da483ce845cf308bfc2e8e264fce0357" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8_x64_Linux_jdk8u172-b11.tar.gz" \
		"c8544a44c946aa971450e18bfa02a0741a986afd3d30c70ded2ea86c9743dac0" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8_172/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8_x64_Linux_jdk8u172-b11-manifest" \
		"a407c87a92df5e95901f23ddaffc2a0fb0e09e81835d1be98e0290d50b0b13c9" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8_172/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_ppc64le_linux_hotspot_8u472b08.tar.gz" \
		"49f7b20a549375f733421f67159ee8ef06ab49b53b8a9d5aa0d4b0b4edf284f3" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_ppc64le_linux_hotspot_8u472b08-manifest" \
		"f19caab63038c6b1e1d1c46236b44804bb735b3649bc9f5bf65d7d19ac735501" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/jdk-8.0-8.55-linux-s390x.tar.gz" \
		"bbc71efd20d76c28088b90b70b5e1aa391b9ed9eecae37c2bd80dbe715421375" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_s390x/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/jdk-8.0-8.55-linux-s390x-manifest" \
		"f7399c07afda81d4876e4ff358574ef409cf0b60f7302831511693ecbec6a95d" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_s390x/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk1.8/jdk-8.0.0.855-aix-powerpc64.tar.gz" \
		"30a9964b57c03a076eb9e842f66ca949441e554a805bead2304c3c64e3f9a0b7" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk1.8/jdk-8.0.0.855-aix-powerpc64-manifest" \
		"723b14c68ce407e7693838b79765197d00985bdd044d48e6e5e2fbe8ee74a922" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"hpux/jdk1.8/jdk-8.0.30-hpux-ia64.tar.gz" \
		"7deefded5a691cd52af90d541c02a2f954fcf83092ba7198deef226f93e6e414" \
		"debian/tmp/usr/share/host-jdks/jdk/hpux_ia64/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"hpux/jdk1.8/jdk-8.0.30-hpux-ia64-manifest" \
		"13547272d49d0f350ecc877eefb69d1a5dbed6df0ea5849b137c662661d867f9" \
		"debian/tmp/usr/share/host-jdks/jdk/hpux_ia64/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_x64_solaris_hotspot_8u462b08.tar.gz" \
		"66ca6ff9188c6d72680ecdfbc98c4fa8fbdade8e01f19ad366f2e9ddcb51400e" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_x86/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_x64_solaris_hotspot_8u462b08-manifest" \
		"200365b7666251322fa8fccb3f252fcbf53ccdaadae1ac7dd4fde915f630e1e8" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_x86/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_sparcv9_solaris_hotspot_8u462b08.tar.gz" \
		"f0606b5bb2519d47ff7191ddcb08f47ec7963b53285ae1b0235da30fd4c44a15" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_sparc/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_sparcv9_solaris_hotspot_8u462b08-manifest" \
		"c7747859a0d3b1e0ce36562f4583b95c955868ee7426b8517bbc9101b68e63f7" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_sparc/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk1.8/OpenJDK8U-jdk_x64_windows_hotspot_8u472b08.zip" \
		"b4daadd3920522ba1a62d15afd3c2e390e667472234a6bf9ad5b9b24f607aa1f" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk1.8/jdk.zip"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk1.8/OpenJDK8U-jdk_x64_windows_hotspot_8u472b08-sha256manifest" \
		"0e11ca38128ebf0884b645c31d05f3e58c32f74a8be392e2afce321193d42d62" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_ppc64le_linux_hotspot_17.0.17_10.tar.gz" \
		"fec4ea210af9bac50c6e927cbb9697669006f3f9c4c9cae362833fed60dd2a1a" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_ppc64le_linux_hotspot_17.0.17_10-manifest" \
		"4566758fe7a96859bf1f2959cc2847a14793973d5224a5b77c9b7113438c1e45" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_x64_linux_hotspot_17.0.17_10.tar.gz" \
		"102757ea8e9dededf37ba3884467974d490507a8ac048810543ac085b94153f7" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_x64_linux_hotspot_17.0.17_10-manifest" \
		"bb49a226474aa0d0a70009b2abcaf52ed8a8c33c1d478212ff5645146d7e5751" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_s390x_linux_hotspot_17.0.17_10.tar.gz" \
		"43905ec52d1b9c66ab318e89dc2df835f2cfda6ce992bb05a1436f75245e5b6d" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_s390x/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_s390x_linux_hotspot_17.0.17_10-manifest" \
		"cf301110d7f171fbd0ffdb0c4b6b7c35915dd2607b23343148fd846452bb6eec" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_s390x/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk17/OpenJDK17U-jdk_ppc64_aix_hotspot_17.0.17_10.tar.gz" \
		"b60df2dd2b3bf98de1e78af55c7096f7f0b7dee1e6515792ecbfef9ee4550fab" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk17/OpenJDK17U-jdk_ppc64_aix_hotspot_17.0.17_10-manifest" \
		"2cf9fd0687ffd1408ea95a4fd7286014acd9b87ee42c9d15a2d5fc23b8125acb" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk17/OpenJDK17U-jdk_x64_windows_hotspot_17.0.17_10.zip" \
		"ee053e96f79fec3f5bf7665b15308c96a32f760f9cd9e33682854c75145f7500" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk17/jdk.zip"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk17/OpenJDK17U-jdk_x64_windows_hotspot_17.0.17_10-sha256manifest" \
		"bd3d0428a4eea7e38b73f4eac3168ead1595621273eaadbee45c16d3d192a0c9" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk17/manifest"

	dh_install --autodest "debian/tmp/*"
