#!/usr/bin/make -f
#
# Copyright 2021, 2025 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

%:
	dh $@

override_dh_install:
	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_ppc64le_linux_hotspot_17.0.20.1_1.tar.gz" \
		"226644eabf1b3777b01ebf38b3b98dbcc2867d141f334143e79ae7d7a88d125a" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_ppc64le_linux_hotspot_17.0.20.1_1-manifest" \
		"0711f75488f93a723565875a91766216d0e87d857bf1e2d87a3d01b7e307cee2" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_x64_linux_hotspot_17.0.20.1_1.tar.gz" \
		"c30277aac20d9ce218095768234d5ebad649868206fe5829f1fbdae487e02aff" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_x64_linux_hotspot_17.0.20.1_1-manifest" \
		"7ad03c2a14bac32c9cdd8e8efa196f4f8db10e12d21cc45482e369d90ec86f32" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_s390x_linux_hotspot_17.0.20.1_1.tar.gz" \
		"d2cfca196905dc2036756b95a3b79060737ff8290a368ced592ecf502621351a" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_s390x/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk17/OpenJDK17U-jdk_s390x_linux_hotspot_17.0.20.1_1-manifest" \
		"991618d04c6bc4385afa16239e6b0456031e8f6120334ead12568b830c116b1d" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_s390x/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk17/OpenJDK17U-jdk_ppc64_aix_hotspot_17.0.20.1_1.tar.gz" \
		"ad0ca3533c28f0f4fd57813eb6efe44a6848f4e3d9b09e61651564d9561462f5" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk17/OpenJDK17U-jdk_ppc64_aix_hotspot_17.0.20.1_1-manifest" \
		"010bc7a709b978727417c087f57d04ac4508e611cfb1665f1748ede7684ea097" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk17/OpenJDK17U-jdk_x64_windows_hotspot_17.0.20.1_1.zip" \
		"ff3c248ddb13c80494a2aa87afe9399fe2d06559d7312ff60ded4fb358af7c3d" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk17/jdk.zip"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk17/OpenJDK17U-jdk_x64_windows_hotspot_17.0.20.1_1-sha256manifest" \
		"e8b65cdf8da4797a31dde6305c8826b4bc149a10568cdd857b8bde660c73def0" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk17/jdk17u-jdk_sparcv9_solaris_17.0.20.1.tar.gz" \
		"5d0874566e2977b661a0ccf478261183e5a097add3b65016de229b90eca40085" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_sparc/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk17/jdk17u-jdk_sparcv9_solaris_17.0.20.1-manifest" \
		"3a3947a3b9bc1d29b3f59c45443626116b4ca332d0f0b1e0fe6601d8efc9f0b1" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_sparc/jdk17/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk17/jdk17u-jdk_x64_solaris_17.0.20.1.tar.gz" \
		"e925619e8a2bb3cd84b6d180643d4de2b39b8fecb333b64111e978deedba677d" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_x86/jdk17/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk17/jdk17u-jdk_x64_solaris_17.0.20.1-manifest" \
		"56dcb824d085ad08b8d285e3e881e8e7909ae7fb8bfddfc73144c5b0f02e83f9" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_x86/jdk17/manifest"

	dh_install --autodest "debian/tmp/*"
